
/*
    this css file is for header and footer. Every page use it to adjust their header and footer

*/

* {
    font-family: "Source Sans Pro", "News Cycle", Helvetica, Arial, "sans-serif";
    margin: 0;
    padding: 0;
}

body{

    width: 1463px;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}



/*navigation and logo setting area*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

header img.logo {
    padding-top: 10px;
    padding-right: 20px;
    float: left;
    width: 90px;
}

body > header p {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
    height: 80px;
    font-size: 3.6em;
    animation:headerStyle 5s linear infinite 0s;
    animation-delay: 0.5s;
}

@keyframes headerStyle {
    /*0%{color: black;left: 0;}*/
    /*25%{color: #1E90FF;left: 20%;text-shadow: 10px 5px 2px gray;}*/
    /*50%{color: #0026be;left: 40%;text-shadow: 20px 10px 4px gainsboro}*/
    /*75%{color: #1E90FF;left: 20%;text-shadow: 10px 5px 2px gray;}*/
    /*100%{color: black;left: 0;}*/
    0%{opacity: 100;}
    /*10%{opacity: 80;}*/
    /*20%{opacity: 60;}*/
    /*30%{opacity: 40;}*/
    /*40%{opacity: 20;}*/
    50%{opacity: 0;}
    /*60%{opacity: 20;}*/
    /*70%{opacity: 40;}*/
    /*80%{opacity: 60;}*/
    /*90%{opacity: 80;}*/
    100%{opacity: 100;}
}


body > nav {
    height: 30px;
    padding-top: 5px;
    background-color: rgba(10, 0, 183, 0.78);

}

body > nav ul li {
    float: left;
    list-style: none;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    font-size: 1.2em;
}

body > nav ul li a:hover{
    /*border-bottom: 2px solid white;*/
    background-color: whitesmoke;
    color: black;

}

body > nav ul li a {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

body > nav ul li + li a {
    border-left: 1px solid whitesmoke;
}






footer .contact {
    width: 100%;
    position: relative;
    margin: 15px 0 0 0;
    background-color: ghostwhite;
    height: 250px;
}

footer .contact p.title{
    font-size: 2.5rem;
    font-family: Helvetica, Arial, "sans-serif";
    padding-top: 50px;
    text-align: center;
}

footer .contact p{
    padding-top: 60px;
    text-align: center;
}

footer .contact p a{
    text-decoration: none;
    font-size: 1.5rem;
}

footer .contact p a:hover{
    color: #1E90FF;
    width: 100%;
    height: 300px;
}


footer .right{
    background-color: white;
}



footer .right ul li{
    font-size: 1.1rem;
    list-style: none;
    float: left;
    margin:  10px;
}
footer .right ul li a{
    text-decoration: none;
    color: grey;
}

footer .right hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer .right p{
    text-align: center;
    color: grey;
    font-size: 1.1rem;
    margin: 10px;
}
footer .right p a{
    text-decoration: none;
}

footer .right p a:hover{
    color: #1E90FF;
}