
/*
    This is base css for Consultation.html, Reserve.html, Pharmacy.html, Veterinary.html
    so it was called CRPV Unit.
*/


section {
    background-color: lavenderblush;
    width: 100%;
    height: 1300px;
}

section > p{
    visibility: hidden;
    height: 40px;
}

.wrapper{
    width: 90%;
    background-color: white;
    top: 20px;
    border: 1px solid lavenderblush;
    box-shadow: 1px 1px 5px gray;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
}

 .wrapper > header{
    color: #004B94;
    font-weight: 100;
    font-size: 2.5rem;
    margin: 15px;
     text-align: center;
}

.ask:hover{
    transform: scale(1.1);
}

.description:hover{
    transform: scale(1.08);
}



 .wrapper .description{
     width: 90%;
     margin: auto auto 20px;
     padding: 10px;
     border-radius: 2px;
     border: 1px solid gray;
     box-shadow: 0 2px 1px black;
 }

 .wrapper .description h3{
     color: #004B94;
     margin: 10px 10px 10px 20px;
     font-size: 1.8rem;
 }

 .wrapper .description p{
     margin: 10px 10px 10px 20px;
 }



/*------------------------------------------------------------------------------*/
 .wrapper .PersonalInfo{
     float: left;
     height: 800px;
     width: 40%;
     margin-left: 7.5%;
     margin-right: 5%;
 }

 .wrapper legend{
     width: 100%;
     margin-left: -2px;
     margin-bottom: 10px;
     padding-right: 2px;

     border-radius: 3px;
     border: 1px solid #502c9f;

     line-height: 50px;
     font-size: 35px;
     text-transform: uppercase;
     text-align: center;

     background-color: #4f709f;
     color:#FFF;

 }

 .wrapper .PersonalInfo span{
     display: inline-block;
     font-size: 1.2rem;
     color: #585858;
     margin-left: 5%;
     margin-bottom: 5px;
 }

 .wrapper .PersonalInfo input[type="text"], .wrapper .PersonalInfo input[type="date"],
 .wrapper .PersonalInfo input[type="email"], .wrapper .PersonalInfo input[type="number"]{
     display: inline-block;
     margin-left: 5%;
     margin-bottom: 20px;
     font-size:1.2rem;
     width: 70%;
     height:1.5em;
     border-radius:4px;
     border:1px solid #a7abae;
 }


 .wrapper .PersonalInfo input[type="radio"]{
     margin:0 0 20px 5%;
     width: 1rem;
     height: 1rem;
 }

 .wrapper .PersonalInfo textarea{
     margin-left: 5%;
     margin-bottom: 20px;
     width: 70%;
     font-size: 1.2rem;
     height: 150px;
 }
/*-------------------------------------------------------------------------------*/

 .wrapper .Doctor{
     float: left;
     width: 40%;
     height: 300px;
 }

.wrapper .Doctor legend{
    width: 100%;
    margin-left: -2px;
    margin-bottom: 10px;
    padding-right: 2px;

    border-radius: 3px;
    border: 1px solid #4F709F;

    line-height: 50px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;

    background-color: #089f92;
    color:#FFF;

}

 .wrapper .ask{
     width: 95%;
     margin: auto;
     border: 1px solid #004B94;
 }

 .wrapper .Doctor label span{
     display: inline-block;
     text-align:  center;
     font-size: 1.2rem;
     color: #000000;
     margin-left: 5%;
     margin-bottom: 5px;
 }

 .wrapper .Doctor label textarea{
     margin: auto auto auto 5%;
     width: 90%;
     font-size: 1.2rem;
     height: 180px;
 }

 .wrapper .ask{
     float: left;
     width: 40%;
     margin-top: 20px;
     border: 2px solid gray;
     border-radius: 5px;
 }



.wrapper .ask h3{
    background-color: #4f9f1c;
    color:#FFF;
    line-height: 2rem;
    font-size: 1.5rem;
    border-radius: 2px;
    text-align: center;
}

.wrapper .ask p{
    margin: 5px;
    font-size: 1.06rem;
}

.wrapper button{
    margin-left: 20%;
    margin-top: 40px;
    width: 20%;
    height: 40px;
    border-width: 0;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.wrapper button:hover{
    background: #5599FF;
    transform: scale(1.2);
}
