
section div{
    margin: 10px;
}

.cut header, .eye header{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

.cut p, .eye p{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    background-color: gainsboro;
    font-size: 1.2rem;
}

.cut video, .eye video{
    margin-left: 17% ;
    margin-bottom: 10px;
}


