

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("images/Loading.gif") 50% 50% no-repeat rgba(249,249,249,0.8);

}

/***********************************************************************/


section > .header {
    background-image: url("images/HomePictureSmall.jpg");
    background-size: cover;
    height: 650px;
    width: 100%;
    position: relative;
}

section > .header div {
    position: absolute;
    left: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 650px;

}

section > .header div .title {
    position: relative;
    padding: 20px;
    top: 5%;
    font-size: 2.6em;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
}

section > .header div ul {
    position: relative;
    top: 5%;
    padding: 20px;
}

section > .header div ul li {
    list-style: none;
    padding: 10px 10px 10px 30px;
    font-size: 2em;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
    color: white;
}


section > .header div p:last-child {
    position: relative;
    padding: 20px;
    top: 8%;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    line-height: 1.5em;
}



/***************************************************************************/

.why header {
    border-top: 5px solid azure;
    background: linear-gradient(to right, rgba(10, 0, 183, 0.78), white);
    color: gainsboro;
    padding: 5px;
    font-style: italic;
    font-size: 2em;
    text-align: left;
    text-shadow: 2px 2px 1px black;
}

.why div video {
    border-radius: 20px;
    border: 1px solid darkslateblue;
    margin: 20px 40px 20px 10%;
    width: 30%;
    height: 290px;
    float: left;

}

.why div p {
    border-radius: 20px;
    background-color: gainsboro;
    margin: 20px 20px 20px 20px;
    padding: 3%;
    line-height: 1.35em;
    float: left;
    width: 40%;
    font-size: 1.35em;
}

/***************************************************************************/

.talk{
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: url("images/doctor-03.jpg");
    width: 100%;
    background-size: cover;
    height: 450px;
}

.talk div{
    background-color: rgba(16, 180, 242, 0.55);
    width:100%;
    height: 450px;
}

.talk div header{
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    /*text-shadow: 1px 1px 1px black;*/
}

.talk div > p{
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    top: 30%;
    color: white;
}

.talk button{
    position: absolute;
    top: 300px;
    left: 40%;
    width: 20%;
    height: 40px;
    border-width: 0;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.talk button:hover{
    background: #5599FF;
    transform: scale(1.2);
}


/*****************************************************************/


.book, .medicine, .education{
    position: relative;
    margin: 20px 20px 20px 20px;
    float: left;
    width: 30%;
    border-radius: 10px;
    border: 2px solid #0006ff;
    box-shadow: 0 1px 5px black;
    height: 550px;
}

.book img, .medicine img, .education img{
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    border-bottom: 1px solid blue;
}

.book header, .medicine header, .education header{
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: 1.6rem;
}

.book p, .medicine p, .education p{
    margin: 10px;
    font-size: 1.2rem;
}

.book button, .medicine button, .education button{
    position: absolute;
    width: 40%;
    height: 40px;
    border-width: 0;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 1em;
    top: 500px;
    left: 30%;
    margin-bottom: 10px;
}

.book button:hover, .medicine button:hover, .education button:hover{
    transform: scale(1.2);
    background: #5599FF;
}

/**************************************************************************/


.pet{
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: url("images/Pet.jpg");
    width: 100%;
    background-size: cover;
    height: 450px;
}

.pet div{
    background-color: rgba(40, 94, 151, 0.6);
    width:100%;
    height: 450px;
}

.pet div header{
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.pet div > p{
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    top: 35%;
    color: white;
}

.pet button{
    position: absolute;
    top: 300px;
    left: 40%;
    width: 20%;
    height: 40px;
    border-width: 0;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.pet button:hover{
    transform: scale(1.2);
    background: #5599FF;
}
