button{
    width: 15%;
    margin-left: 20px;
    height: 40px;
    border-width: 0;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: "Microsoft YaHei", serif;
    color: white;
    font-size: 1.1em;
}
button:hover{
    background: #5599FF;
    transform: scale(1.2);
}

.button{
    padding-left: 40%;
}

h1{
    font-size: 2em;
    margin: 30px;
    text-align: center;

}

p[id]{
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    text-align: left;
}