

.wrapper .ask h3{
    background-color: #fefd48;
    color: #00248c;
}

.tableWrapper{
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 gray;
}



.tableWrapper > h2{
    margin-top: 15px;
    color: #0063be;
    font-size: 2em;
    text-align: center;
}

.tableWrapper .timetable{
    margin-top: 20px;
    margin-bottom: 30px;
}

.tableWrapper .timetable:hover{
    transform: scale(1.1);
}

section table.timetable{
    border-collapse: collapse;
}

section table.timetable colgroup col{
    background-color: wheat;
}


section table.timetable tr.firstRow{
    background-color: #3e49c7 !important;
    font-size: 1.2em;
}

section table.timetable tr.secondRow{
    background-color: #3485c7 !important;
    font-size: 1.2em;
}

section table.timetable tr.firstRow td, section table.timetable tr.secondRow td{
    color: white;
    text-align: center;
    font-size: 1.1em;
}

section table.timetable{
    width: 100%;
    border-collapse: collapse;
    border: 2px #0668a8;
    margin-bottom: 1.2em;
}

section table.timetable tr.secondRow td:not(:first-child){
    width: 5%;
}

section table.timetable tr td{
    border: 2px solid #d9d9d9;
    font-style: italic;
    text-align: center;
}



section {
    background-color: lavenderblush;
    width: 100%;
    height: 1850px;
}

.wrapper{
    height: 1700px;
}
